<table id="speakers">
  <thead>
    <tr>
      <th>Role</th>
      <th>Lines Spoken</th>
      <th>Longest Speech</th>
      <th>Total Scenes for Role</th>
      <th>Percentage of Total Scenes</th>
    </tr>
  </thead>
  <tbody>
	<% @speakers.each do |speaker| %>
	  <tr>
		<td><%= speaker.name.capitalize %></td>
		<td><%= speaker.lines.size %></td>
		<td><%= speaker.longest_speech.lines.count %></td>
		<td><%= speaker.scenes.count %></td>
		<td><%= speaker.scene_percent %></td>
	  </tr>
	<% end %>
  </tbody>
</table>